$font-family-sans-serif: 'Roboto', sans-serif;
$font-family-base: $font-family-sans-serif;

@import "bootstrap/scss/bootstrap";

body {
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.display-1,
.display-2,
.display-3,
.display-4,
.display-5,
.display-6 {
    font-family: 'Roboto Condensed', sans-serif;
}


/* WordPress core compatibility classes. */
.wp-caption {
    max-width: 100%;
}

.wp-caption-text {
    margin-top: 0.5rem;
}

.gallery-caption {
    display: block;
}

.bypostauthor {
    display: block;
}

.alignright {
    float: right;
    margin-left: 1.5rem;
}

.alignleft {
    float: left;
    margin-right: 1.5rem;
}

.aligncenter {
    display: block;
    margin-right: auto;
    margin-left: auto;
}
